.title {
  font-size: 30px;
}
.icon {
  font-size: 20px;
}
.wrapIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.wrap {
  position: relative;
}
.goback {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  cursor: pointer;
}
