.form {
  padding: 10px;
  border: 1px solid #ebeef0;
  border-radius: 5px;
  margin-bottom: 50px;
}
.title {
  font-size: 16px;
}
.input {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ebeef0;
}
.btn {
  padding: 6px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ebeef0;
}
