.wrap {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}
.imgProfile {
  border-radius: 100px;
}
.img {
  width: 100%;
  border-radius: 10px;
}
.hr {
  border: 1px solid #ebeef0;
}
.statistic {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
    font-size: 13px;
    color: #5b7083;
    span {
    }
  }
}
.icon {
  font-size: 20px;
}
.title {
  max-width: 300px;
  font-weight: 700;
  font-size: 15px;
  span {
    font-weight: 500;
    font-size: 15px;
    color: #5b7083;
  }
}
.text {
  font-weight: 500;
  font-size: 15px;
}
.header {
  width: 100%;
  position: relative;
}
.controlPost {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.edit {
  color: #b1b1b1;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: rgb(15, 104, 177);
  }
}
.delete {
  color: #b1b1b1;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: red;
  }
}
.deleteLink {
  color: inherit;
}
