.wrap {
  border: 1px solid #ebeef0;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}
.img {
  border-radius: 1000px;
}
.title {
  font-weight: 400;
  font-size: 16px;
  color: #8a98a4;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 118%;
}
.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  display: flex;
  gap: 10px;
}
.editBtn {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover {
    color: #0000ff;
  }
}
.exitBtn {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover {
    color: #ff0000;
  }
}
