.wrap {
  border: rgb(121, 121, 121) 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}
.commentWrap {
  // padding: 10px;
}
.author {
  padding: 10px;
}
.text {
  padding: 10px;
  margin-left: 10px;
}
