.wrap {
  border: 1px solid #ebeef0;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.img {
  width: 100%;
  margin: 30px 0 30px 0;
}
.header {
  display: flex;
  margin-bottom: 20px;
  span {
    align-self: flex-start;
  }
}
.textarea {
  height: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  font-size: 30px;
}
